<div class="mt-4 ml-6 mr-6">
  <div class="flex justify-content-center flex-wrap p-4 gap-4">
    <div class="inputgroup">
      <input
        [disabled]="selectedIndexerForm === undefined"
        (keydown.enter)="searchProducts()"
        [(ngModel)]="searchText"
        type="text" pInputText placeholder="Search..."/>
      <button
        [disabled]="selectedIndexerForm === undefined"
        (click)="searchProducts()"
        type="button" pButton icon="pi pi-search" styleClass="p-button-warn"></button>
      <p-dropdown
        class="ml-2"
        [disabled]="cached_indexers.length === 0"
        id="indexer-id"
        [(ngModel)]="selectedIndexerForm"
        placeholder="Select an indexer"
        [options]="cached_indexers"
        optionLabel="name"
        [filter]="true"
      ></p-dropdown>
    </div>

  </div>
  <div class="card">
    <p-table [loading]="loading"
             [value]="products" [tableStyle]="{ 'min-width': '50rem' }">
      <ng-template pTemplate="header">
        <tr>
          <th *ngFor="let header of headers">{{header}}</th>
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-product>
        <tr>
          <td *ngFor="let value of product">
            <p>
              <app-marked-text [text]="(value.value | shortText) ?? ''" [searchString]="searchText">
              </app-marked-text>
            </p>
          </td>
        </tr>
      </ng-template>
      <ng-template pTemplate="emptymessage">
        <tr>
          <td
            *ngIf="products.length === 0"
          >
            <p>
            There are no documents found!
          </p>
          </td>
        </tr>
      </ng-template>

    </p-table>
  </div>
</div>
