<div class="p-inputgroup">
  <input
    (keydown.enter)="searchProducts()"
    [(ngModel)]="searchText"
    type="text" pInputText placeholder="Search..."/>
  <button type="button" pButton icon="pi pi-search" styleClass="p-button-warn"></button>
</div>
<div class="card">
  <p-dataView
    [loading]="loading"
    emptyMessage="There are no products found!"
    #dv [value]="products">
    <ng-template let-product pTemplate="listItem">
      <div class="col-12">
        <div class="flex flex-column xl:flex-row xl:align-items-start p-4 gap-4">
          <img class="w-9 sm:w-16rem xl:w-10rem shadow-2 block xl:block mx-auto border-round"
               [src]="product.image" [alt]="product.name"/>
          <div
            class="flex flex-column sm:flex-row justify-content-between align-items-center xl:align-items-start flex-1 gap-4">
            <div class="flex flex-column align-items-center sm:align-items-start gap-3">
              <div class="text-2xl font-bold text-900">
                <app-marked-text [text]="product.name" [searchString]="searchText">
                </app-marked-text>
              </div>
                <div class="flex align-items-center gap-3">
                                <span class="flex align-items-center gap-2">
                                    <i class="pi pi-tag"></i>
                                    <span class="font-semibold">{{ product.category }}</span>
                                </span>
              </div>
            </div>
            <div class="flex sm:flex-column align-items-center sm:align-items-end gap-3 sm:gap-2">
              <span class="text-2xl font-semibold">{{product.price }}</span>
              <button pButton icon="pi pi-shopping-cart" class="md:align-self-end mb-2 p-button-rounded"
                      [disabled]="product.inventoryStatus === 'OUTOFSTOCK'"></button>
            </div>
          </div>
        </div>
      </div>
    </ng-template>
  </p-dataView>
</div>
