<button
  id="open-dialog"
  pButton
  pRipple
  class="p-button-outlined"
  label="Create a runner"
  (click)="displayModal = true"
></button>

<p-table [value]="runners" [tableStyle]="{'min-width': '60rem'}">
  <ng-template pTemplate="header">
    <tr>
      <th pSortableColumn="id">ID
        <p-sortIcon field="id"></p-sortIcon>
      </th>
      <th pSortableColumn="status">Status
        <p-sortIcon field="status"></p-sortIcon>
      </th>
      <th pSortableColumn="crawler">Crawler
        <p-sortIcon field="crawler"></p-sortIcon>
      </th>
      <th pSortableColumn="created_at">Created at
        <p-sortIcon field="created_at"></p-sortIcon>
      </th>
      <th pSortableColumn="completed_at">Completed at
        <p-sortIcon field="completed_at"></p-sortIcon>
      </th>
      <th pSortableColumn="description">Description
        <p-sortIcon field="description"></p-sortIcon>
      </th>
      <th>Actions
      </th>
    </tr>
  </ng-template>
  <ng-template pTemplate="body" let-runner>
    <tr>
      <td>{{runner.id}}</td>
      <td>{{runner.status}}</td>
      <td>{{runner.crawler}}</td>
      <td>
        <p>
          <app-time-ago [time]="runner.created_at"></app-time-ago>
        </p>
      </td>
      <td>
        <p>
          <app-time-ago [time]="runner.completed_at"></app-time-ago>
        </p>
      </td>
      <td>{{runner.description}}</td>
      <td>
        <div>
                    <button
            class="
        p-ml-1 p-button-outlined p-button-sm
        no-icon
      "
            type="button"
            pButton
            pRipple
            label="Stop"
            (click)="stopRunner(runner)"
          ></button>
          <button
            class="
        p-ml-1 p-button-outlined p-button-sm
        no-icon
      "
            type="button"
            pButton
            pRipple
            label="Edit"
            (click)="editRunner(runner)"
          ></button>
          <button
            class="
        p-ml-1 p-button-danger p-button-outlined p-button-sm
        no-icon
      "
            type="button"
            pButton
            pRipple
            label="Delete"
            (click)="deleteRunner(runner)"
          ></button>
        </div>
      </td>
    </tr>
  </ng-template>
  <ng-template pTemplate="emptymessage">
    <tr>
      <td
        attr.colspan="{{ columnCount }}"
        *ngIf="runners.length === 0"
      >
        No crawlers assigned.
      </td>
    </tr>
  </ng-template>
</p-table>

<p-dialog
  [(visible)]="displayModal"
  [header]="header"
  [modal]="true"
  (onHide)="closeModal()"
  [maximizable]="true"
  styleClass="f2-import-dialog"
>
  <div *ngIf="displayModal">
    <p-card>
      <form class="p-fluid" action="" [formGroup]="form" (ngSubmit)="submit()">
        <p-message
          *ngIf="errorMessage"
          severity="error"
          text="The crawler could not be created:"
          class="p-mr-2"
        ></p-message>
        <div>
          <app-input-field
            [isRequired]="true"
            labelId="version-label-id"
            labelText="Crawler"
            helpText=""
          >
            <p-dropdown
              id="version-id"
              [formControl]="crawlerForm"
              placeholder="Select a crawler"
              [options]="crawlersList"
              optionLabel="key"
              [filter]="true"
            ></p-dropdown>
          </app-input-field>
          <app-input-field
            [isRequired]="true"
            labelId="version-label-id"
            labelText="Name"
            helpText=""
          >

            <input
              id="start-time-id"
              type="text"
              pInputText
              [formControl]="name"
            />
          </app-input-field>
          <app-input-field
            [isRequired]="false"
            labelId="version-label-id"
            labelText="Description"
            helpText=""
          >
            <textarea
              [rows]="10"
              [cols]="100"
              pInputTextarea
              [formControl]="descriptionForm"
              ngDefaultControl
            ></textarea>
          </app-input-field>
        </div>
      </form>
    </p-card>
  </div>
  <ng-template pTemplate="footer">
    <!--    <span *ngIf="currentlySubmitting" class="p-mr-2">-->
    <!--      <f2-loading msg="Submitting ..."></f2-loading>-->
    <!--    </span>-->
    <button
      [disabled]="!form.valid"
      id="run-btn"
      type="button"
      pButton
      pRipple
      (click)="start()"
      class="p-mr-2"
    >
      <span>{{ updatedRunner !== null ? 'Update' : 'Create'}}</span>
    </button>
    <button
      [disabled]="currentlySubmitting"
      id="cancel-btn"
      class="p-button-secondary"
      type="button"
      pButton
      pRipple
      label="Cancel"
      (click)="closeModal()"
    ></button>
  </ng-template>
</p-dialog>

