.secondary-text {
  font-size: x-small;
  line-height: 0.5rem;
}

.successful {
  color: #50af61;
}

.timeline-width {
  width: 20rem;
}


:host ::ng-deep {
  .f2-console-container {
    background-color: black;
  }

  .f2-log-content {
    white-space: pre-wrap;
  }
}

.f2-sim-output-title {
  white-space: pre-wrap;
}
