<div class="mt-4 ml-6 mr-6">
  <p-table [loading]="loading" [value]="runners" [tableStyle]="{'min-width': '60rem'}">
    <ng-template pTemplate="caption">
      <div class="grid">
        <div class="col">
          Runners
        </div>
        <div class="col-2">
          <button
            icon="pi pi-plus"
            id="open-dialog"
            pButton
            pRipple
            class="p-button-outlined"
            label="Create a runner"
            (click)="displayModal = true"
          ></button>
        </div>
      </div>
    </ng-template>

    <ng-template pTemplate="header">
      <tr>
        <th pSortableColumn="id">ID
          <p-sortIcon field="id"></p-sortIcon>
        </th>
        <th pSortableColumn="status">Status
          <p-sortIcon field="status"></p-sortIcon>
        </th>
        <th pSortableColumn="crawler">Crawler
          <p-sortIcon field="crawler"></p-sortIcon>
        </th>
        <th pSortableColumn="created_at">Progress
          <p-sortIcon field="created_at"></p-sortIcon>
        </th>
        <th>Actions
        </th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-runner>
      <tr>
        <td>

          {{runner.name}}
          #{{runner.id}}
          <span
            *ngIf="runner.description"
            (mouseenter)="description.show($event)"
            (mouseleave)="description.hide()"
          >
                  <i
                    *ngIf="runner.description"
                    class="pi pi-info-circle" aria-hidden="true"></i>
                  <p-overlayPanel
                    #description
                    showTransitionOptions="0s"
                    hideTransitionOptions="0s"
                  >
                    <div [innerHTML]="runner.description"></div>
                  </p-overlayPanel>
                </span>
        </td>
        <td>
          <div class="timeline-width">
            <p-timeline [value]="events" layout="horizontal">
              <ng-template pTemplate="content" let-event>
            <span
              [ngClass]="event.status.toLocaleLowerCase() === runner.status.toLocaleLowerCase() ? 'successful secondary-text' : 'secondary-text'">
              {{event.status}}</span>
              </ng-template>
            </p-timeline>
          </div>
        </td>
        <td>{{runner.crawler_name}} #{{runner.crawler}}</td>
        <td>
          <p>
            Started at:
            <app-time-ago [time]="runner.created_at"></app-time-ago>
            / Completed at:
            <app-time-ago [time]="runner.completed_at"></app-time-ago>

          </p>
          <p *ngIf="runner.collected_documents !== 0">
            #Documents: {{runner.collected_documents}}
            Current URL: <a [href]="runner.current_crawled_url.url"> {{runner.current_crawled_url.url | shortLink}}</a>
          </p>

        </td>
        <td>
          <div>
            <p-menu #menu [model]="actions" [popup]="true"></p-menu>
            <button tooltipPosition="bottom" pTooltip="Show actions" pButton type="button"
                    class="ml-1 p-button-outlined p-button-sm no-icon"
                    (click)="openMenu($event,menu, runner)" icon="pi pi-bars"></button>
            <button tooltipPosition="bottom" pTooltip="Show output log" pButton type="button"
                    class="ml-1 p-button-outlined p-button-sm no-icon"
                    (click)="openOutput(runner)" icon="pi pi-book"></button>
          </div>
        </td>
      </tr>
    </ng-template>
    <ng-template pTemplate="emptymessage">
      <tr>
        <td
          attr.colspan="{{ columnCount }}"
          *ngIf="runners.length === 0"
        >
          No runners assigned.
        </td>
      </tr>
    </ng-template>
  </p-table>

  <p-dialog
    [(visible)]="displayModal"
    [header]="header"
    [modal]="true"
    (onHide)="closeModal()"
    [maximizable]="true"
  >
    <div *ngIf="displayModal">
      <p-card>
        <form class="p-fluid" action="" [formGroup]="form" (ngSubmit)="submit()">
          <p-message
            *ngIf="errorMessage"
            severity="error"
            text="The crawler could not be created:"
            class="p-mr-2"
          ></p-message>
          <div>
            <app-input-field
              [isRequired]="true"
              labelId="version-label-id"
              labelText="Name"
              helpText=""
            >

              <input
                id="start-time-id"
                type="text"
                pInputText
                [formControl]="name"
              />
            </app-input-field>

            <app-input-field
              [isRequired]="true"
              labelId="version-label-id"
              labelText="Crawler"
              helpText=""
            >
              <p-dropdown
                id="version-id"
                [formControl]="crawlerForm"
                placeholder="Select a crawler"
                [options]="crawlersList"
                optionLabel="key"
                [filter]="true"
              ></p-dropdown>
            </app-input-field>

            <app-input-field
              [isRequired]="true"
              labelId="machine-id"
              labelText="Machine"
              helpText="Node that will run the crawler, note that the node can be SSH to from the head node."
            >
              <input
                id="machine-id"
                type="text"
                pInputText
                [formControl]="machine"
              />
            </app-input-field>

            <app-input-field
              [isRequired]="false"
              labelId="version-label-id"
              labelText="Description"
              helpText=""
            >
            <textarea
              [rows]="10"
              [cols]="100"
              pInputTextarea
              [formControl]="descriptionForm"
              ngDefaultControl
            ></textarea>
            </app-input-field>
          </div>
        </form>
      </p-card>
    </div>
    <ng-template pTemplate="footer">
      <button
        [disabled]="!form.valid"
        id="run-btn"
        type="button"
        pButton
        pRipple
        (click)="updatedRunner !== null ? submit() : start()"
        class="p-mr-2"
      >
        <span>{{ updatedRunner !== null ? 'Update' : 'Create'}}</span>
      </button>
      <button
        [disabled]="currentlySubmitting"
        id="cancel-btn"
        class="p-button-secondary"
        type="button"
        pButton
        pRipple
        label="Cancel"
        (click)="closeModal()"
      ></button>
    </ng-template>
  </p-dialog>
</div>


<p-dialog
  [(visible)]="displayOutputLog"
  (onHide)="closeOutputLogModal()"
  [modal]="true"
  header="Output statistics of runner: {{outputRunner.name}}"
  *ngIf="outputRunner"
  [resizable]="true"
  [maximizable]="true"

>
  <div>
    <p-card styleClass="f2-console-container">
      <pre class="f2-log-content">Visited pages: {{outputRunner.statistics.visited_pages }}</pre>
      <pre
        class="f2-log-content">Average documents number per page: {{outputRunner.statistics.average_docs_per_page }}</pre>
      <pre class="f2-log-content">Average processing time: {{outputRunner.statistics.average_processing_time }}</pre>
      <pre class="f2-log-content">Average page loading time: {{outputRunner.statistics.avg_loading_time }}</pre>
      <pre class="f2-log-content">Average page size: {{outputRunner.statistics.avg_page_size }}</pre>
      <pre class="f2-log-content"
           *ngFor="let code  of outputRunner.statistics.http_codes | keyvalue">{{code.key}}: {{code.value }}</pre>
    </p-card>
  </div>
</p-dialog>
