<div class="formgrid grid">
  <div class="field col">
    <p-table [value]="beforeActions">
      <ng-template pTemplate="caption">
        <div class="grid">
          <div class="col">
            Before Actions
          </div>
          <div class="col-2">
            <button
              icon="pi pi-plus"
              id="open-dialog"
              pButton
              pRipple
              class="p-button-outlined"
              label="Add action"
              (click)="createAction()"
            ></button>
          </div>
        </div>
      </ng-template>

      <ng-template pTemplate="header">
        <tr>
          <th pSortableColumn="name">Name
            <p-sortIcon field="name"></p-sortIcon>
          </th>
          <th pSortableColumn="type">Type
            <p-sortIcon field="type"></p-sortIcon>
          </th>
          <th pSortableColumn="order">Order
            <p-sortIcon field="order"></p-sortIcon>
          </th>
          <th>Actions
          </th>
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-inspector>
        <tr>
          <td>{{inspector.name}}</td>
          <td>{{inspector.type}}</td>
          <td>{{inspector.order}}</td>
          <td>
            <div>
              <button
                class="ml-1 mt-1 mb-1 p-button-outlined p-button-sm no-icon"
                type="button"
                pButton
                pRipple
                label="Edit"
                (click)="editAction(inspector)"
              ></button>
              <button
                class="ml-1 mt-1 mb-1 p-button-danger p-button-outlined p-button-sm no-icon"
                type="button"
                pButton
                pRipple
                label="Delete"
                (click)="deleteAction(inspector)"
              ></button>
            </div>
          </td>
        </tr>
      </ng-template>
      <ng-template pTemplate="emptymessage">
        <tr>
          <td
            attr.colspan="{{ columnCount }}"
            *ngIf="beforeActions.length === 0"
          >
            No actions assigned.
          </td>
        </tr>
      </ng-template>
    </p-table>
  </div>
  <div class="field col">
    <p-table [value]="afterActions">
      <ng-template pTemplate="caption">
        <div class="grid">
          <div class="col">
            After Actions
          </div>
          <div class="col-2">
            <button
              icon="pi pi-plus"
              pButton
              pRipple
              class="p-button-outlined"
              label="Add action"
              (click)="createAction()"
            ></button>
          </div>
        </div>
      </ng-template>

      <ng-template pTemplate="header">
        <tr>
          <th pSortableColumn="name">Name
            <p-sortIcon field="name"></p-sortIcon>
          </th>
          <th pSortableColumn="type">Type
            <p-sortIcon field="type"></p-sortIcon>
          </th>
          <th pSortableColumn="order">Order
            <p-sortIcon field="order"></p-sortIcon>
          </th>
          <th>Actions
          </th>
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-inspector>
        <tr>
          <td>{{inspector.name}}</td>
          <td>{{inspector.type}}</td>
          <td>{{inspector.order}}</td>
          <td>
            <div>
              <button
                class="ml-1 mt-1 mb-1 p-button-outlined p-button-sm no-icon"
                type="button"
                pButton
                pRipple
                label="Edit"
                (click)="editAction(inspector)"
              ></button>
              <button
                class="ml-1 mt-1 mb-1 p-button-danger p-button-outlined p-button-sm no-icon"
                type="button"
                pButton
                pRipple
                label="Delete"
                (click)="deleteAction(inspector)"
              ></button>
            </div>
          </td>
        </tr>
      </ng-template>
      <ng-template pTemplate="emptymessage">
        <tr>
          <td
            attr.colspan="{{ columnCount }}"
            *ngIf="afterActions.length === 0"
          >
            No actions assigned.
          </td>
        </tr>
      </ng-template>
    </p-table>
  </div>
</div>
<p-dialog
  [(visible)]="displayModal"
  [header]="header"
  [modal]="true"
  (onHide)="closeModal()"
  [maximizable]="true"
>
  <div *ngIf="displayModal">
    <p-card>
      <form class="p-fluid" action="" [formGroup]="form" (ngSubmit)="submit()">
        <p-message
          *ngIf="errorMessage"
          severity="error"
          text="The action could not be created:"
          class="p-mr-2"
        ></p-message>
        <div>
          <app-input-field
            [isRequired]="true"
            labelId="version-label-id"
            labelText="Name"
            helpText=""
          >

            <input
              id="start-time-id"
              type="text"
              pInputText
              [formControl]="name"
            />
          </app-input-field>
          <app-input-field
            [isRequired]="true"
            labelId="version-label-id"
            labelText="Order"
            helpText="The order of the action in which it will be executed."
          >
            <input
              id="end-time-id"
              type="number"
              pInputText
              [formControl]="order"
            />
          </app-input-field>
        </div>
        <app-input-field
          [isRequired]="true"
          labelId="version-label-id"
          labelText="Type"
          helpText=""
        >
          <p-dropdown
            id="version-id"
            [formControl]="type"
            placeholder="Select a type"
            [options]="typesList"
            optionLabel="key"
            [filter]="true"
          ></p-dropdown>
        </app-input-field>
        <container-element *ngIf="type.value" [ngSwitch]="type.value.value">
          <div *ngSwitchCase="'click'">
            <app-input-field
              [isRequired]="true"
              labelId="selector-label-id"
              labelText="Selector"
              helpText="The element XPath to be clicked."
            >
              <input
                id="selector-id"
                type="text"
                pInputText
                [formControl]="selector"
              />
            </app-input-field>
          </div>
          <div *ngSwitchCase="'scroll'">
            <app-input-field
              [isRequired]="true"
              labelId="times-label-id"
              labelText="Times"
              helpText="How many times the scrolling should be repeated."
            >
              <input
                id="times-id"
                type="number"
                pInputText
                [formControl]="times"
              />
            </app-input-field>
            <app-input-field
              [isRequired]="true"
              labelId="direction-label-id"
              labelText="Direction"
              helpText="The direction of scrolling 'up' or 'down'."
            >
              <input
                id="direction-id"
                type="text"
                pInputText
                [formControl]="direction"
              />
            </app-input-field>

          </div>

          <div *ngSwitchCase="'wait'">
            <app-input-field
              [isRequired]="true"
              labelId="times-label-id"
              labelText="Time"
              helpText="How many ms should the crawler wait."
            >
              <input
                id="time-id"
                type="number"
                pInputText
                [formControl]="time"
              />
            </app-input-field>
          </div>

        </container-element>

      </form>
    </p-card>
  </div>
  <ng-template pTemplate="footer">
    <button
      id="run-btn"
      type="button"
      pButton
      pRipple
      (click)="submit()"
      class="p-mr-2"
    >
      <span>{{ updatedAction !== null ? 'Update' : 'Create'}}</span>
    </button>
    <button
      [disabled]="currentlySubmitting"
      id="cancel-btn"
      class="p-button-secondary"
      type="button"
      pButton
      pRipple
      label="Cancel"
      (click)="closeModal()"
    ></button>
  </ng-template>
</p-dialog>
