<p-table [value]="inspectors" [tableStyle]="{'min-width': '60rem'}">
  <ng-template pTemplate="caption">
    <div class="grid">
      <div class="col">
        Inspectors
      </div>
      <div class="col-2">
        <button
          icon="pi pi-plus"
          id="open-dialog"
          pButton
          pRipple
          class="p-button-outlined"
          label="Create an inspector"
          (click)="createInspector()"
        ></button>
      </div>
    </div>
  </ng-template>

  <ng-template pTemplate="header">
    <tr>
      <th pSortableColumn="name">Name
        <p-sortIcon field="name"></p-sortIcon>
      </th>
      <th pSortableColumn="type">Type
        <p-sortIcon field="type"></p-sortIcon>
      </th>

      <th pSortableColumn="selector">Selector
        <p-sortIcon field="selector"></p-sortIcon>
      </th>
      <th pSortableColumn="created_at">Created at
        <p-sortIcon field="created_at"></p-sortIcon>
      </th>
      <th>Actions
      </th>
    </tr>
  </ng-template>
  <ng-template pTemplate="body" let-inspector>
    <tr>
      <td>{{inspector.name}} ({{inspector.variable_name}})</td>
      <td>{{inspector.type}}</td>
      <td>{{inspector.selector}}</td>
      <td>
        <p>
          <app-time-ago [time]="inspector.created_at"></app-time-ago>
        </p>
      </td>
      <td>
        <div>
          <button
            class="ml-1 p-button-outlined p-button-sm no-icon"
            type="button"
            pButton
            pRipple
            label="Edit"
            (click)="editInspector(inspector)"
          ></button>
          <button
            class="ml-1 p-button-danger p-button-outlined p-button-sm no-icon"
            type="button"
            pButton
            pRipple
            label="Delete"
            (click)="deleteInspector(inspector)"
          ></button>
        </div>
      </td>
    </tr>
  </ng-template>
  <ng-template pTemplate="emptymessage">
    <tr>
      <td
        attr.colspan="{{ columnCount }}"
        *ngIf="inspectors.length === 0"
      >
        No inspectors assigned.
      </td>
    </tr>
  </ng-template>
</p-table>

<p-dialog
  [(visible)]="displayModal"
  [header]="header"
  [modal]="true"
  (onHide)="closeModal()"
  [maximizable]="true"
>
  <div *ngIf="displayModal">
    <p-card>
      <form class="p-fluid" action="" [formGroup]="form" (ngSubmit)="submit()">
        <p-message
          *ngIf="errorMessage"
          severity="error"
          text="The inspector could not be created:"
          class="p-mr-2"
        ></p-message>
        <div class="grid">
          <div class="col-6">
            <app-input-field
              [isRequired]="true"
              labelId="version-label-id"
              labelText="Name"
              helpText="Name of the inspector, can be Title, price or anything represents the data."
            >
              <input
                id="start-time-id"
                type="text"
                pInputText
                [formControl]="name"
              />
            </app-input-field>

            <app-input-field
              [isRequired]="false"
              labelId="variable-name-id"
              labelText="Variable Name"
              helpText="An abbreviation of the selector that can be used in the indexing process to boost the result"
            >
              <input
                id="variable-name-id"
                type="text"
                pInputText
                [formControl]="variableName"
              />
            </app-input-field>

            <app-input-field
              [isRequired]="false"
              labelId="attribute-id"
              labelText="Attribute"
              helpText="HTML element attribute like, src, name and href."
            >

              <input
                id="attribute-id"
                type="text"
                pInputText
                [formControl]="attribute"
              />
            </app-input-field>

          </div>
          <div class="col-6">
            <app-input-field
              [isRequired]="true"
              labelId="version-label-id"
              labelText="Selector"
              helpText="XPath expression for the selected element, example: //*[contains(@class, 'product-title')]"
            >

              <input
                id="end-time-id"
                type="text"
                pInputText
                [formControl]="selector"
              />
            </app-input-field>
            <app-input-field
              [isRequired]="true"
              labelId="type-id"
              labelText="Type"
              helpText="Type of the inspector."
            >
              <p-dropdown
                id="type-id"
                [formControl]="type"
                placeholder="Select a type"
                [options]="typesList"
                optionLabel="key"
                [filter]="true"
              ></p-dropdown>
            </app-input-field>
          </div>
        </div>
      </form>
    </p-card>
  </div>
  <ng-template pTemplate="footer">
    <button
      id="run-btn"
      type="button"
      pButton
      pRipple
      (click)="submit()"
      class="p-mr-2"
    >
      <span>{{ updatedInspector !== null ? 'Update' : 'Create'}}</span>
    </button>
    <button
      [disabled]="currentlySubmitting"
      id="cancel-btn"
      class="p-button-secondary"
      type="button"
      pButton
      pRipple
      label="Cancel"
      (click)="closeModal()"
    ></button>
  </ng-template>
</p-dialog>
