::ng-deep .indexer-dialog {
  width: 50vw;
  min-width: 50vw;
  min-height: 50rem;
}

.secondary-text {
  font-size: x-small;
  line-height: 0.5rem;
}

.successful {
  color: #50af61;
}

.timeline-width {
  width: 30rem;
}

