<button
  id="open-dialog"
  pButton
  pRipple
  class="p-button-outlined"
  label="Create a spider"
  (click)="displayModal = true"
></button>

 <p-table [value]="spiders" [tableStyle]="{'min-width': '60rem'}">
  <ng-template pTemplate="header">
    <tr>
      <th pSortableColumn="name" style="width:20%">Name
        <p-sortIcon field="name"></p-sortIcon>
      </th>
      <th pSortableColumn="url" style="width:20%">Url
        <p-sortIcon field="url"></p-sortIcon>
      </th>
      <th pSortableColumn="status" style="width:20%">Status
        <p-sortIcon field="status"></p-sortIcon>
      </th>
      <th pSortableColumn="created_at" style="width:20%">Created at
        <p-sortIcon field="created_at"></p-sortIcon>
      </th>
      <th pSortableColumn="completed_at" style="width:20%">Completed at
        <p-sortIcon field="completed_at"></p-sortIcon>
      </th>
      <th pSortableColumn="description" style="width:20%">Description
        <p-sortIcon field="description"></p-sortIcon>
      </th>
    </tr>
  </ng-template>
  <ng-template pTemplate="body" let-spider>
    <tr>
      <td>{{spider.name}}</td>
      <td>{{spider.url}}</td>
      <td>{{spider.status}}</td>
      <td>{{spider.created_at}}</td>
      <td>{{spider.completed_at}}</td>
      <td>{{spider.description}}</td>
    </tr>
  </ng-template>
</p-table>

<p-dialog
  [(visible)]="displayModal"
  [header]="header"
  [modal]="true"
  (onHide)="closeModal()"
  [maximizable]="true"
  styleClass="f2-import-dialog"
>
  <div *ngIf="displayModal">
    <p-card>
      <form class="p-fluid" action="" [formGroup]="form" (ngSubmit)="submit()">
        <p-message
          *ngIf="errorMessage"
          severity="error"
          text="The spider could not be created:"
          class="p-mr-2"
        ></p-message>
        <div>
          <app-input-field
            [isRequired]="true"
            labelId="version-label-id"
            labelText="Template"
            helpText=""
          >

            <p-dropdown
              id="version-id"
              [formControl]="template"
              placeholder="Select a template"
              [options]="[]"
              optionLabel="key"
              [filter]="true"
            ></p-dropdown>
          </app-input-field>
          <app-input-field
            [isRequired]="true"
            labelId="version-label-id"
            labelText="Name"
            helpText=""
          >

            <input
              id="start-time-id"
              type="text"
              pInputText
              [formControl]="name"
            />
          </app-input-field>
          <app-input-field
            [isRequired]="true"
            labelId="version-label-id"
            labelText="Url"
            helpText=""
          >

            <input
              id="end-time-id"
              type="text"
              pInputText
              [formControl]="url"
            />
          </app-input-field>
          <app-input-field
            [isRequired]="true"
            labelId="version-label-id"
            labelText="Description"
            helpText=""
          >
            <textarea
              [rows]="10"
              [cols]="100"
              pInputTextarea
              [formControl]="description"
              ngDefaultControl
            ></textarea>
          </app-input-field>
        </div>
      </form>
    </p-card>
  </div>
  <ng-template pTemplate="footer">
    <!--    <span *ngIf="currentlySubmitting" class="p-mr-2">-->
    <!--      <f2-loading msg="Submitting ..."></f2-loading>-->
    <!--    </span>-->
    <button
      id="run-btn"
      type="button"
      pButton
      pRipple
      (click)="submit()"
      class="p-mr-2"
    >
      <span>Create</span>
    </button>
    <button
      [disabled]="currentlySubmitting"
      id="cancel-btn"
      class="p-button-secondary"
      type="button"
      pButton
      pRipple
      label="Cancel"
      (click)="closeModal()"
    ></button>
  </ng-template>
</p-dialog>
