Django==4.1
django-bulma==0.8.3
flake8-django==1.1.5
black==24.3.0
djangorestframework==3.14.0
markdown==3.4.1
django-filter==22.1
django-extensions==3.2.1
selenium==4.15.1
django-solo==2.0.0
django-simple-bulma==2.5.0
paramiko==3.4.0
psycopg2-binary==2.9.6
requests==2.32.0
django-polymorphic==3.1.0
django-rest-polymorphic==0.1.9
sympy==1.12
sqlparse>=0.5.0 # not directly required, pinned by Snyk to avoid a vulnerability
