<button
  id="open-dialog"
  pButton
  pRipple
  class="p-button-outlined"
  label="Create a template"
  (click)="displayModal = true"
></button>

<p-table [value]="templates"
         [autoLayout]="true"
         dataKey="name"
         [expandedRowKeys]="expandedRows"
>
  <ng-template pTemplate="header">
    <tr>
      <th></th>
      <th>Name</th>
      <th>Created at</th>
    </tr>
  </ng-template>
  <ng-template pTemplate="body" let-template let-expanded="expanded">
    <tr>
      <td>
        <button
          id="expand-btn-{{ template.id }}"
          type="button"
          pButton
          pRipple
          [pRowToggler]="template"
          class="
            p-button-text p-button-rounded p-button-plain
            f2-scene-expander-button
          "
          [icon]="expanded ? downIcon : rightIcon"
        ></button>
      </td>
      <td>
        {{template.name}}
      </td>
      <td>{{template.created_at | timeAgo}}</td>
    </tr>
  </ng-template>
    <ng-template pTemplate="rowexpansion" let-template>
    <tr class="f2-scene-overview-row">
      <td  attr.colspan="{{ columnCount }}">
        <app-inspector [template]="template"></app-inspector>
      </td>
    </tr>
  </ng-template>
</p-table>

<p-dialog
  [(visible)]="displayModal"
  [header]="header"
  [modal]="true"
  (onHide)="closeModal()"
  [maximizable]="true"
  styleClass="f2-import-dialog"
>
  <div *ngIf="displayModal">
    <p-card>
      <form class="p-fluid" action="" [formGroup]="form" (ngSubmit)="submit()">
        <p-message
          *ngIf="errorMessage"
          severity="error"
          text="The spider could not be created:"
          class="p-mr-2"
        ></p-message>
        <div>
          <app-input-field
            [isRequired]="true"
            labelId="version-label-id"
            labelText="Template"
            helpText=""
          >
            <p-dropdown
              id="version-id"
              [formControl]="template"
              placeholder="Select a template"
              [options]="templates"
              optionLabel="key"
              [filter]="true"
            ></p-dropdown>
          </app-input-field>
          <app-input-field
            [isRequired]="true"
            labelId="version-label-id"
            labelText="Name"
            helpText=""
          >

            <input
              id="start-time-id"
              type="text"
              pInputText
              [formControl]="name"
            />
          </app-input-field>
          <app-input-field
            [isRequired]="true"
            labelId="version-label-id"
            labelText="Url"
            helpText=""
          >

            <input
              id="end-time-id"
              type="text"
              pInputText
              [formControl]="url"
            />
          </app-input-field>
          <app-input-field
            [isRequired]="true"
            labelId="version-label-id"
            labelText="Description"
            helpText=""
          >
            <textarea
              [rows]="10"
              [cols]="100"
              pInputTextarea
              [formControl]="description"
              ngDefaultControl
            ></textarea>
          </app-input-field>
        </div>
      </form>
    </p-card>
  </div>
  <ng-template pTemplate="footer">
    <!--    <span *ngIf="currentlySubmitting" class="p-mr-2">-->
    <!--      <f2-loading msg="Submitting ..."></f2-loading>-->
    <!--    </span>-->
    <button
      id="run-btn"
      type="button"
      pButton
      pRipple
      (click)="submit()"
      class="p-mr-2"
    >
      <span>{{ updatedSpider !== null ? 'Update' : 'Create'}}</span>
    </button>
    <button
      [disabled]="currentlySubmitting"
      id="cancel-btn"
      class="p-button-secondary"
      type="button"
      pButton
      pRipple
      label="Cancel"
      (click)="closeModal()"
    ></button>
  </ng-template>
</p-dialog>
